@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/typography' as *;

.abso {
   position: absolute;
   margin-top: 5rem;
}
.task-card {
 &__section {
  display: flex;
  flex-direction: column;
  align-items: center;
 }


 &__img {
  height: 14rem;
  width: 20rem;
  filter:blur(2px);
 }

}