
@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/typography' as *;

.profile {
  background-image: url("../../assets/images/Quest-background.png");
  background-size: cover;
  background-position: center;
  height: 43rem;
}