@use "./styles/partials/breakpoints" as*;
@use "./styles/partials/typography" as *;

*,::before::after {
  box-sizing: border-box;
}

body {
margin: 0rem;
font-family: "ProximaNova";
}

h1,h2,h3,p,ul, a {
  font-family: "ProximaNova";
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


